*{
    margin:0;
    padding:0;
}
html,body{
    width:100%;
    height:100%;
    background-color: #f5f5f5;
}
header{
    width:100%;
    height:0.35rem;
    background:#ff8a00;
    box-sizing:border-box;
    display:flex;
}
.logo{
    
    font-size:0px;
    flex:1;
    display:flex;
    justify-content: center;
}
.logo>img{
   width:1rem;
}
.aBQ{
    flex:1;
    display:flex;
    /* justify-content:center; */
}
.aBQ>a{
    flex:1;
    font-size:0px;
    display:flex;
    justify-content:center;
    align-items:center;
}
.aBQ>a:nth-child(1){
     justify-content:flex-end;
}
.aBQ>a>img{
    width:0.2rem;
    height:80%;
}

    /* 页脚 */

    footer{
        width:100%;
        height:1.55rem;
        background-color: #2f3130;
    }
    footer>p:nth-child(1){
        text-indent:0.2rem;
        font-size:0.14rem;
        color:#939494;
        width:100%;
        height:0.3rem;
        line-height:0.3rem;
        border-bottom:1px solid #939494;
    }
    footer>div{
        display: flex;
        justify-content: center;
    }
    footer>div>a{
        flex:1;
        text-align: center;
        text-decoration: none;
        color:#939494;
        font-size:0.13rem;
        height:0.6rem;
        padding-top:0.1rem;
        position:relative;
    }
    footer>div>a>img{
        width:0.2rem;
        height:0.25rem;
        position: absolute;
        top:0.1rem;
        left:0.3rem;
    }
    .fp{
        text-align:center;
        width:100%;
        height:0.2rem;
        font-size:0.12rem;
        color:#939494;
    }

    


.banner{
    width:100%;
    height:1.9rem;
    background:url("../image/index/banner.png") center center no-repeat;
    background-size:100% 100%;
    display:flex;
    justify-content: center;
    /* flex-flow:column-reverse; */
}


input{
    
    margin:48% 0 0 10%;
    width:2.3rem;
    height:0.25rem;
    color:#ccc;
    outline:none;
    border-radius:0.07rem;  
} 
nav{
    width:100%;
    /* height:1rem; */
    background-color: #ff8a00;
    display:flex;
    justify-content:space-around;
    align-items: center;
}
nav>div>a>img{
    width:0.6rem;
    height:0.6rem;
}
nav>div{
    text-align: center;
    font-size:0.13rem;
    margin:0.1rem 0  0.1rem  0;
}
nav>div>a{
    display:inline-block;
    text-decoration:none;
    color:white;
}
nav>div>a>p{
    margin-top:0.05rem;
}

.banner2{
    width:100%;
    height:2.5rem;
    margin: 0.1rem 0 0.1rem 0;
}
.banner2>a{
    width:100%;
    height:100%;
    box-sizing: border-box;
    display:inline-block;
}
.banner2>a>img{
    width:100%;
    height:100%;
}
.hothouse{
    width:100%;
    height:0.62rem;
    background-color: #ff8a00;
    box-sizing:border-box;
   padding:0.1rem 0 0 0;
}
.hothouse>p{
    color:white;
    text-indent:.2rem;
}
.hothouse>p:nth-child(1){
    font-size:0.18rem;
}
.hothouse>p:nth-child(2){
    font-size:0.12rem;
}


.Housingresources_ol{
    padding:0 0.20rem 0 0.2rem;
    background-color: #fff; 
    margin:0.1rem 0 0.1rem 0;
}

.Housingresources_ol>li{
    display:flex;
    padding:0.2rem 0 0.22rem 0;
    border-bottom:1px solid orange;
}
.Housingresources_ol>li:last-child{
    border:none;
}

.imgdiv{
    flex:1;
   height:0.83rem;
   font-size:0;
}
.imgdiv>img{
    width:0.83rem;
    height:0.83rem;
}
.textdiv{
    flex:2;
    margin-left:0.15rem;
    overflow:hidden;
}
.textdiv>p:nth-child(1){
    font-size:0.14rem;
    font-weight: bold;
    overflow:hidden;
    margin-bottom:0.15rem;
    text-overflow:ellipsis;
    white-space: nowrap;
}
.textdiv>p:nth-child(2)>span:last-child,
.textdiv>p:nth-child(3)>span:last-child{
   float: right;
}
.textdiv>p:nth-child(3){
    margin:0.02rem 0 ;
}
.textdiv>p:nth-child(2){
    font-size:0.12rem;
}
.textdiv>p:nth-child(3),
.textdiv>p:nth-child(4){
    font-size:0.12rem;
   color:rgb(126, 126, 126);
}
.money{
    color:orange;
    font-weight:700;
}
.alhome{
    background-color: #d5e9f7;
}
.guanzhu{
    width:100%;
    display:flex;
    flex-direction:column;
    background-color: #fff;
}
.GZone{
    display: flex;
    flex:1;
    border-bottom:1px solid #ff8a00;
}
.GZtwo{
    flex:2;
    display:flex;
    padding:0.2rem;
}
.GZone>span{
    flex:1;
    height:0.55rem;
    text-align:center;
    line-height:0.55rem;
    font-size:0.15rem;
    text-decoration:none;
    color:black;
    display:inline-block;
}
.borde{
    border-bottom:2px solid orange;
}
.ys{
    list-style: none;
    flex:1;
}
.ys>li{
    height:0.2rem;
    font-size:0;
    margin-top:0.05rem;
}
.GZtwo>ol>li>a{
    display:inline-block;
    width:100%;
    height:100%;
    font-size:0.12rem;
    text-decoration: none;
    line-height:0.2rem;
    color:#868686;
}
.GZolthree,.GZolfour{
    display:none;
}
